<div class="container-fluid">
    <div class="col">
        <app-home-page-center></app-home-page-center>
    </div>
<br><br>
    <!-- <div class="row">
        <div class="column">
        <img src="assets/images/mathematics-2.png">
        <img src="assets/images/web-technologies.jpg">
        <img src="assets/images/mathematics-3.png">
        </div>
    </div> -->
    <!-- <div class=”gallery”>
        <figure class="gallery__item gallery__item_1">
          <img src="assets/images/mathematics-2.png" class="gallery__img" alt="Image 1">
        </figure>
        <figure class="gallery__item gallery__item_2">
          <img src="assets/images/web-technologies.jpg" class="gallery__img" alt="Image 2">
        </figure>
        <figure class="gallery__item gallery__item_3">
          <img src="assets/images/mathematics-3.jpg" class="gallery__img" alt="Image 3">
        </figure>
        <figure class="gallery__item gallery__item--4">
          <img src="img/image-4.jpg" class="gallery__img" alt="Image 4">
        </figure>
        <figure class="gallery__item gallery__item--5">
          <img src="img/image-5.jpg" class="gallery__img" alt="Image 5">
        </figure>
        <figure class="gallery__item gallery__item--6">
          <img src="img/image-6.jpg" class="gallery__img" alt="Image 6">
        </figure>
      </div> -->
    <div class="col">
        <!-- <app-shop-offer></app-shop-offer> -->
        <app-course-offer></app-course-offer>
    </div>
</div>