<div class="container">
    <h3>Our professors</h3>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/professors-assistants/professor-dinko.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dinko Osmanković</h5>
              <p class="card-text">University of Sarajevo | UNSA · Department for Automatic Control and Electronics</p>
              <a href="#" class="btn btn-primary">Visit profile</a>
            </div>
          </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/professors-assistants/professor-almasa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Almasa Odžak</h5>
              <p class="card-text">University of Sarajevo | UNSA · Faculty of Mathematics and Natural Sciences</p>
              <a href="#" class="btn btn-primary">Visit profile</a>
            </div>
          </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/professors-assistants/professor-anel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Anel Tanović</h5>
              <p class="card-text">University of Sarajevo | UNSA · Department for Computer Science and Informatics</p>
              <a href="#" class="btn btn-primary">Visit profile</a>
            </div>
          </div>
      </div>
    </div>
    <hr>
    <h3>Our assistants</h3>
    <br>
    <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="assets/images/professors-assistants/assistant-irfan.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Irfan Prazina</h5>
                <p class="card-text">University of Sarajevo | UNSA · Department for Computer Science and Informatics</p>
                <a href="#" class="btn btn-primary">Visit profile</a>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="assets/images/professors-assistants/assistant-seila.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Šeila Bećirović</h5>
                <p class="card-text">University of Sarajevo | UNSA · Department for Computer Science and Informatics</p>
                <a href="#" class="btn btn-primary">Visit profile</a>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="assets/images/professors-assistants/assistant-cogo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Emir Cogo</h5>
                <p class="card-text">University of Sarajevo | UNSA</p>
                <a href="#" class="btn btn-primary">Visit profile</a>
              </div>
            </div>
        </div>
      </div>
  </div>

