<!-- <div class="container">
    <div class="col-xs-12">
        <a
            [routerLink]="['/shopoffer', item.itemId]"
            class="list-group-item clearfix"
            *ngFor = "let item of offer"
        >
            <div class="pull-left">
                <p class="list-group-item-text">{{item.itemId}}</p>
                <br>
                <h4 class="list-group-item-heading">{{item.name}}</h4>
                <p class="list-group-item-text">{{item.description}}</p>
            </div>
            <span class="pull-right">
                <img src={{item.imagePath}} alt={{item.name}} class="img-responsive" style="max-height:50px;">
            </span>
        </a>
    </div>
    <div *ngIf="offer.length==0">
            <div class="container-fluid">
                <div class="col text-center">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Ooops... something went wrong</h4>
                        <p>No item match the search</p>
                        <hr>
                        <p class="mb-0">Please, enter new product</p>
                        <br>
                        <a href="/home"class="btn btn-secondary" data-dismiss="modal">Close</a>
                    </div>
                 </div>
            </div>

    </div>
</div>
 -->
